# Backend
backend/node_modules
backend/.env
backend/.wwebjs_cache
backend/whatsapp-session

# Frontend
frontend/node_modules
frontend/dist

# OS
.DS_Store
Thumbs.db


cat >> .gitignore << 'EOF'

# Mac OS
._.DS_Store
._backend
._frontend
.DS_Store
EOF
